
@{
    ViewData["Title"] = "Test2";
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<h1>Test2</h1>

<script>
    $(document).ready(function () {
        $('tr:odd').css('background', '#A5A5A5');
        $('tr:even').css('background', '#CCCCCC');
        $('th').css('background', 'black').css('color', '#FFFFFF')

    });
    </script>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Hp</th>
    </tr>
    <tr>
        <td>1</td>
        <td>홍길동</td>
        <td>010-1111-1111</td>
    </tr>
    <tr>
        <td>2</td>
        <td>강감찬</td>
        <td>010-2222-2222</td>
    </tr>
    <tr>
        <td>3</td>
        <td>유관순</td>
        <td>010-3333-3333</td>
    </tr>
    <tr>
        <td>4</td>
        <td>고길동</td>
        <td>010-4444-4444</td>
    </tr>
    <tr>
        <td>5</td>
        <td>둘리</td>
        <td>010-5555-5555</td>
    </tr>
    <tr>
        <td>6</td>
        <td>또치</td>
        <td>010-6666-6666</td>
    </tr>

</table>