@model Diarys
@{
    ViewData["Title"] = "Add";
}
<h1>Add</h1>
<hr />
<div class="row">
    <div>
        <form asp-action="Add">

    <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <label asp-for="No" class="control-label"></label>
                <input asp-for="No" class="form-control" />
            </div>

            <div class="col">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
    </div>
            <br />
            <label>일기내용</label>
            <textarea asp-for="Content"
            rows="25" class="form-control">
                </textarea>
                <br />
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" value="submit">저장</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="submit">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
