@model SmartFactory_MinProject.Models.Codeboard

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div style="float:right">
            <input type="submit" value="Create" class="btn btn-outline-success" /> 
            <a asp-action="Index" class="btn btn-outline-dark">Cancle</a>
        </div>
        <div>
            <h4 class="float:left;">Codeboard</h4>
            <hr />
        </div>
        
        <div class="form-group col-md-5" style='float:right;'>
            <div class="input-group">
                <input type="hidden" asp-for="Name" class="form-control " value="@ViewBag.MySession" />
            </div>
            <span asp-validation-for="Name" class="text-danger" ></span>
        </div>
        
        <div class="form-group col-md-12">
            <div class="input-group">
                <div class="input-group-text">&nbsp;&nbsp;&nbsp;Title&nbsp;&nbsp;&nbsp;</div>
                <input asp-for="Title" class="form-control" />
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        
        <br />

        <div class="form-group col-md-12">
            <div class="input-group">
                <div class="input-group-text">Contents</div>
                <textarea id="codeBoxes" asp-for="Contents" class="form-control" rows="15"></textarea>
            </div>
            <span asp-validation-for="Contents" class="text-danger"></span>
        </div>
        <br />
        <button type="button" class="btn btn-outline-primary" onclick="addCodeBox()">Add Code Box</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <script>
        var codeBoxCount = 1;

        function addCodeBox() {
            var codeBoxes = document.getElementById("codeBoxes");

            var codeBoxHtml = `<pre><code id="codeBlock${codeBoxCount}">\n내용을 여기에 입력하세요\n</code></pre>\n`;

            codeBoxes.value += codeBoxHtml;

            var codeBlock = document.getElementById(`codeBlock${codeBoxCount}`);
            hljs.highlightBlock(codeBlock);

            codeBoxCount++;
        }
    </script>
}